@import "./prism-atom-dark.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    @apply text-4xl text-rose-600 font-semibold;
}

.app-container {
    @apply container mx-auto;
}

.nav-link li,
.footer-link li {
    @apply cursor-pointer text-rose-500 font-medium hover:text-rose-600 hover:scale-105 transition-all;
}

.footer-link li {
    @apply text-white hover:text-gray-100 hover:scale-125;
}

.absolute-center {
    @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
}

.absolute-center-x {
    @apply absolute left-1/2 transform -translate-x-1/2 -translate-y-1/2;
}

.absolute-center-y {
    @apply absolute top-1/2 transform -translate-x-1/2 -translate-y-1/2;
}

.fixed-center {
    @apply fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
}

.btn {
    @apply flex justify-center items-center space-x-2 min-w-[225px] rounded-3xl px-4 py-3 text-center cursor-pointer select-none hover:scale-105 transition-all;
}

.btn-primary {
    @apply gradient text-white;
    --tw-gradient-to: #831843 !important;
}

.btn-secondary {
    @apply bg-gray-200 text-black;
}

.text-gradient {
    @apply text-transparent bg-clip-text gradient;
    --tw-gradient-to: #831843 !important;
}

.gradient {
    @apply bg-gradient-to-r from-rose-500 via-pink-700 to-pink-900;
}

.reverse-gradient {
    @apply bg-gradient-to-l from-rose-500 via-pink-700 to-pink-900;
}

.ml-auto {
    margin-left: auto !important;
}

.mt-auto {
    margin-top: auto !important;
}

.modal {
    @apply fixed-center p-6 rounded-xl border border-rose-600;
    background-color: RGBA(255,255,255,0.98);
    width: 90vw;
    height: 90vh;
    z-index: 999;
}

.modal-list-item {
    @apply bg-white border border-rose-400 rounded-lg px-4 py-2 mb-4 cursor-pointer transition-all hover:bg-rose-500;
}

.modal-list-item-active {
    @apply bg-rose-600 text-white;
}

.tooltip .tooltip-inner {
    @apply mt-3 bg-white text-rose-500 py-2 px-4 rounded-xl font-medium z-50;
}

.input-primary {
    @apply bg-gray-200 rounded-xl px-4 py-2 outline-none border border-gray-100 focus:border-rose-500;
}
